<div class="p-5 d-flex flex-column gap-5">
    <div>
        <button class="btn border-primary btn-white text-primary ">&lt Back</button>
    </div>

    <div>
        <table class="table table-bordered">
            <thead class=" " style="background-color: rgba(205, 205, 205, 1);">
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <td>{{this.userId}}</td>
                    <td>{{this.accept}}</td>
                    <td>Photo</td>
                    <td class="d-flex flex-row justify-content-center gap-2">
                        {{#if this.accept}}
                       
                        {{else}}
                        <a href="accept-user/{{this._id}}" class="btn btn-primary">Done</a>
                        {{/if}}
                        <a href="delete-user/{{this._id}}" class="btn border-primary btn-white text-primary">Delete</a>
                
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>