<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn border-primary align-self-end btn-white text-primary"
            data-bs-dismiss="offcanvas" aria-label="Close">Back</button>
    </div>
    <div class="offcanvas-body ">
        <div class="d-flex flex-column p-5 gap-4 w-100">
            <div class="  ">
                <label for="">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class=" ">
                <label for="">Photo</label>
                <input type="file" id="" style="display: none;">

                <div for="" class="d-flex justify-content-center align-items-center"
                    style="border-style: dotted;height: 300px; width: 270px;">
                    {{#if userDeatils._id}}
                    {{!-- <h1>{{userDeatils._id}}</h1> --}}
                    {{!-- <h1>{{id}}</h1> --}}
                    <img id="output" width="270" src="/image/{{id}}.webp" height="300" class="" />
                    {{else}}
                    <img id="output" width="270" height="300" class="" />
                    {{/if}}

                </div>
            </div>
            {{#if userDeatils.accept}}
            <label for="" class="align-self-center  fs-5 text-success"> Accepted By Admin</label>
            {{else}}
            <label for="" class="align-self-center  fs-5 text-danger">Not Accepted By Admin</label>

            {{/if}}

        </div>
    </div>
</div>






<div class="p-2 d-flex flex-column">
    <button class="btn border-primary align-self-end btn-white text-primary " type="button" id="btn"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View</button>
    <div class="  cropper-bg d-flex flex-column justify-content-center align-items-center " style="height: 100vh;">
        <div class=" col-6 d-flex flex-column gap-4 justify-content-center align-items-center ">

            <form action="/users/detail-upload/{{userDeatils._id}}" method="POST" enctype="multipart/form-data">
                <label for="">Name</label>
                <div class="form-group">
                    {{#if userDeatils.name}}
                    <input type="text" name="name" value="{{userDeatils.name}}" class="form-control">
                    {{else}}
                    <input type="text" name="name" class="form-control">

                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="">Photo</label>
                    <input type="file" name="image" id="image" style="display: none;" accept="image/*"
                        onchange="loadFile(event)">
                    <label for="image" class="w-100">
                        <div class="border-light "
                            style="height: 280px;border-style: dotted;background-color: rgba(205, 205, 205, 1);"></div>

                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>

        </div>
    </div>



    <script>
        const cropper = Cropper()
        console.log(cropper)
        var input = document.getElementById('image')
        var btn = document.getElementById('btn')
        if (document.getElementById("image").value === "") {
            document.getElementById('btn').style.display == "none"
        } else {
          console.log("hiii")
        }


        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>