<div class="offcanvas  canvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <a href="/users/user-list" class="btn border-primary align-self-end btn-white text-primary"
            aria-label="Close">Next</a>
    </div>
    <div class="offcanvas-body ">
        <div class="d-flex flex-column p-5 gap-4 w-100">
            <div class="  ">
                <label for="">Name</label>
                {{#if userDeatils.name}}
                <input type="text" disabled name="name" value="{{userDeatils.name}}" class="form-control bg-white">
                {{else}}
                <input type="text" name="name" class="form-control">

                {{/if}}
            </div>
            <div class=" ">
                <label for="">Photo</label>
                <input type="file" id="" style="display: none;">

                <div class="w-100 d-flex align-items-center justify-content-center">
                    <div for="" class="img-div" style="border-style: dotted;height: 300px; width: 270px; ">
                        {{#if userDeatils._id}}
                        <img id="output" width="270" src="/image/{{id}}.webp" height="300" class="" />
                        {{else}}
                        <img id="output" width="270" height="300" class="" />
                        {{/if}}
                      

                    </div>
                </div>
            </div>
            {{#if userDeatils.accept}}
            <label for="" class="align-self-center  fs-5 text-success"> Accepted By Admin</label>
            {{else}}
            <label for="" class="align-self-center  fs-5 text-danger">Not Accepted By Admin</label>

            {{/if}}

        </div>
    </div>
</div>






<div class="p-2 d-flex flex-column">
    <button class="btn border-primary align-self-end btn-white text-primary " type="button" id="btn"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View</button>
    <div class="   d-flex flex-column justify-content-center align-items-center " style="height: 100vh;">
        <div class=" col-6 d-flex flex-column gap-4 justify-content-center align-items-center ">

            <form action="/users/detail-upload/{{userDeatils._id}}" method="POST" enctype="multipart/form-data">
                <label for="">Name</label>
                <div class="form-group">
                    {{#if userDeatils.name}}
                    <input type="text" name="name" value="{{userDeatils.name}}" class="form-control">
                    {{else}}
                    <input type="text" name="name" class="form-control">

                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="">Photo</label>
                    <input type="file" name="image" id="image" style="display: none;" accept="image/*"
                        onchange="loadFile(event)">
                    <label for="image" class="w-100">
                        <div class="border-light "
                            style="height: 280px;border-style: dotted;background-color: rgba(205, 205, 205, 1);"></div>

                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Upload</button>
            </form>

        </div>
    </div>



    <script>


        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>

    <style>
        .canvas {
            background-color: white;
            width: 40%;
            right: 0;
            height: 100vh;
        }

        @media screen and (max-width:600px) {
            .canvas {
                background-color: white;

                width: 100%;
                right: 0;
                height: 100vh;
            }

            .img-div {
                margin-left: 4rem;
            }
        }
    </style>